html, body {
    width: 100%;
    overflow-x: hidden;
    margin:0;
}
.nav {
  height:100px;
  background: #75b42b;
}
.nav:before{
    content: '';
    width: 82px;
    height: 5px;
    background: #FFFFFF;
    display: block;
    position: relative;
    left: 510px;
}
.ama {
    color: #FFFFFF;
    font-size: 65px;
    position: relative;
    left: 236px;
}

ul li {
  list-style: none;
  float: left;
  margin-left: 42px;
  font-size: 18px;
  position: relative;
  left:440px;
  bottom: 44px;
}

ul li:hover,
.third-buttom {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
.header {
  height: 600px;
  background: #75b42b;
}
.first-phone {
    width: 1181px;
    height: 673px;
    background: url(../img/iPhone0.png) no-repeat;
    background-size: contain;
    position: relative;
    top: 69px;
    left: 135px;
    text-align: center;
 
}

#Capture {
    font-size: 90px;
    color: #FFFFFF;
    line-height: 360px;
    display: inline-block;
}

.first-buttom,
.second-buttom {
  border: 3px #FFFFFF solid;
  width: 258px;
  height: 78px;
  border-radius: 5%;
}

.first-buttom {
  position: relative;
  left: 304px;
  bottom: 94px;
}

.second-buttom {
  position: relative;
  left: 628px;
  bottom: 177px;
}
.circle-one,
.circle-two,
.circle-three,
.circle-a,
.circle-b,
.circle-c,{
    width: 12px;
    height: 12px;
    border: 1px #FFFFFF solid;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    position: relative;
    left: 698px;
    top: -70px;
}
.circle-a,.circle-one{background:#FFFFFF;}
.img {
position: relative;
left: 15px;
top: 12px;
}
.App {
position: relative;
bottom: 6px;
left: 20px;
font-size: 30px;
color: #FFFFFF;
}


.container{
    height:696px;  
    text-align: center;
}
.why{
    font-size: 48px;
    position:relative;
    top: 50px;
    display:inline-block;
}
.login{
    position:relative;
    right: 80px;
    top: 64px;
}
.login-in{
    margin-left:137px;
}
.three-text{
    width: 360px;
    height: 100px;
    font-size: 16px;
    color: #666666;
    position: relative;
    top: 14px;
    left: 190px;
    float: left;
    padding-left: 18px;}
    
h3{
    text-indent:1em;
}
.container-two{
    height:735px;
    background: #262626;
}
.phone-two{
    height:662px;
    width:689px ;
    background: url(../img/iPhone2.png) no-repeat;
    position: relative;
    left:104px;
    top:73px;
}
.Share{
    position: relative;
    left: 832px;
    bottom: 513px;
    color: #FFFFFF;
}
.third-buttom{
  background:#75B42B;
  width: 162px;
  height: 93px;
  border-radius: 5%;
  position: relative;
  bottom:482px;
  left:832px;
}
.third-buttom:before{
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    z-index: 2;
    top: 27%;
    right: 53px;
    border: 15px solid #FFF;
    border-color: transparent transparent transparent #FFF;
}
.buttom-right{
    position: relative;
    left:1020px;
    bottom:604px;
    color:#FFFFFF;
}
.container-three{
    height:803px;
    background:#313131;
}
.con{
    position:relative;
    left: 290px;
    top:-150px;
}
.con-two{
    position: relative;
    left:300px;
    top: 98px;
}
.new{
    color:#FFFFFF;
    position:relative;
    font-size: 48px;
    left: 295px;
    top:-600px;
}
.container-four{
    height:823px;
}
.four-text{
    width: 500px;
    height: 200px;
    position: relative;
    bottom: -20px;
    left: 197px;
}
.four-text h1{
    color:#75B42B;
}
.four-text p{
    color:#666666;
}
.container-five{
    height:722px;
    background: #75B42B;
    
}
.five-in{
    width:960px;
    height:722px;
    margin: 0 auto;
    color:#FFFFFF;
    line-height: 1.42857;
}
.five-in img{
    margin-top: 220px;
}
.five-in p{
    font-size: 48px;
        margin-left:400px;
        margin-top:-425px;
}
.ab,.ac{position: relative;
    left: 609px;
    bottom: 340px;
}
.ac{
    bottom:425px;
    left:900px;
}
.container-six{
        background: rgb(231, 231, 231);
        height:320px;
        color:#666666;
        margin-top: -20px;
}
.com{
    width:800px;
    height:200px;
    margin:0 auto;
}
h2:after{
    content: " ";
    display: block;
    border-bottom:1px #cbcbcb solid;
    margin-top: 20px;
}
.ios{
    width:1000px;
    height:300px;
    line-height:25px;
    
}
.footer{
    height:225px;
    color:#666666;
}
.footer p{
    margin-left: 206px;
    position:relative;
    top:100px;
    
}
.foot-buttom{
    width: 621px;
    height: 100px;
    position: relative;
    left: 596px;
    bottom: -33px;

}

.footer input[type="text"] {
    padding: 0.8em;
    color: rgb(213, 213, 213);
    border: 1px solid rgb(213, 213, 213);
    outline: none;
    -webkit-appearance: none;
    transition: border-color 0.3s;
    width: 69%;
    border-radius: 0.3em;
    margin-right: 2%;
}
input {
    line-height: normal;
}
.footer input[type="submit"] {
    background:#75B42B;
    outline: none;
    padding: 0.8em 2em;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.3em;
    transition: all 0.5s;
}